@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
}

@layer components {
  .btn-ac {
    @apply bg-red-700 hover:bg-red-600 focus:bg-red-600;
  }
  
  .btn-equal {
    @apply bg-purple-700 hover:bg-purple-600 focus:bg-purple-600;
  }

  .btn-number {
    @apply bg-black hover:bg-gray-900 focus:bg-gray-900;
  }

  .btn-operator {
    @apply bg-gray-700 hover:bg-gray-600 focus:bg-gray-600;
  }

  .container {
    @apply flex flex-col items-center justify-center;
  }
}

@layer utilities {
  .min-h-12 {
    min-height: 3rem;
  }

  .ring-hf {
    @apply outline-none rounded hover:ring-1 hover:ring-white hover:ring-offset-2 focus:ring-1 focus:ring-white focus:ring-offset-2;
  }
}
